button {
    background-color: transparent;
    border-radius: 6px;
    color: $white;
    text-align: center;
    padding: 8px 12px;
    width: 150px;

    &.disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    &.primary {
        background-color: $blue;
        border: 0;

        &:hover {
            background-color: darken($blue, 30%);
            cursor: pointer;
        }

    }

    &.danger {
        background-color: white;
        border: 1px solid $red;
        color: $red;

        &:hover {
            background-color: darken($red, 10%);
            color: $white;
            cursor: pointer;
        }
    }

    &.page-btn {
        border: 1px solid $dark-grey;
        color: $dark-grey;
        width: auto;

        &:hover {
            background-color: $dark-grey;
            color: $white;
            cursor: pointer;
        }
    }

    
}