@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

//= Variables
$white: #ffffff;
$blue: #0d6efd;
$black: #151515;
$grey: #ced4da;
$dark-grey: #888888;
$red: #dc3545;
$md-screen: 992px;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-size: 15px;
  color: $black;
}

//= Imports
@import './App/App.css';
@import './components/Header/header';
@import './components/Search/search';
@import './components/SearchField/search-field';
@import './components/Card/card';
@import './components/Pagination/pagination';
@import './components/Button/button';
